.side-bar-menu {
  display: block;
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #00004c;
  z-index: 9999;
  color: #FFF;
}


.input-text-black {
  color: #000;
}

.password-container {
  display: block;
  height: auto;
  width: auto;
  position: fixed;
  top: 55px;
  left: 550px;
  text-align: center;
  font-size: 50px;
  font-family: Syncopate;
  font-weight: bolder;
  font-variant: small-caps;
  color: #000;
}

ul {
  list-style-type: none;
}
